
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e9e5df;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}

.profile {
    display:flex;
    align-items: center;
    margin-left: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    margin-right: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.profile-pic:hover {
    transform: scale(1.2);
}

.profile h1 {
    font-size: 18px;
}

 .navbar h1 a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:last-child {
    margin-right: 20px;
}

.nav-links a {
    color: #000;
    text-decoration:none;
    padding: 5px 10px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover{
    background-color: #0072b1;
    color: white;
}

.navbar-toggler {
    display:none;
    background: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}



@media (max-width: 768px){
    .navbar-toggler {
        display: block;
        padding: 1px;
        border-radius: 9px;
        cursor: pointer;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 100%;
        right: 0;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display:flex;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
        margin: 5px 0;
    }

    .nav-links a {
        text-align: center;
        width: 100%;
    }

    
    
}

/*Hero Styling*/
.hero-container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background-color: #f4f4f4;
    padding: 60px 0;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0 0 20px;
}

.hero-content .name {
    color: #0072b1;
}

.hero-content .description {
    font-size: 1.2em;
    margin: 0 0 30px;
    color: #333;
}

.cta-button {
    padding: 10px 20px;
    background: #fff;
    color: #0072b1;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.cta-button:hover {
    background: #0072b1;
    color: #fff;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
}

@media (max-width: 768px) {
    .hero-container{
        flex-direction: column;
        text-align: center;
    }
    
    .hero-content h1 {
        font-size: 2.5em;
    }

    .hero-image {
        margin-top: 45px;
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 480px){
    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content .description {
        font-size: 1em;
    }

    .cta-button {
        font-size: 0.9em;
    }
}

/*About me Styling*/
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about {
    background: #f9f9f9;
    padding: 60px 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-text {
    max-width: 800px;
}

.about-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0072b1;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
}

@media (max-width:768px){
    .about-text h2 {
        font-size: 2em;
    }

    .about-text p {
        font-size: 1em;
    }
}

/*Projects Styles*/
.projects-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.projects {
    background: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #0072b1
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
    width: 100%;
    max-width: 300px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #000;
}

.project-card p {
    font-size: 1em;
    padding: 0 20px;
    line-height: 1.2;
}

.project-link {
    display: block;
    margin: 20px;
    padding: 10px 6px;
    color: #0072b1;
    text-decoration: none;
    border-radius: 9px;
    border: 1px solid #0072b1;
    transition: background 0.3s ease-out;
}

.project-link:hover {
    background: #0072b1;
    color: #fff;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,144,177, 0.3);
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .projects h2 {
        font-size: 2em;
    }

    .project-card h3 {
        font-size: 1.2em;
    }

    .project-card p {
        font-size: 0.9em;
    }

}

/*Experience Styles*/
.exp-container, .education-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.education {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

.experience  {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.experience h2, .education h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #0072b1;
}

.timeline {
    position: relative;
    margin-top: 20px;
}

.timeline::before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 2px;
    background: #333;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 9px;
    position: relative;
    padding-left: 30px;
}

.timeline-dot {
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top:15px;
}

.timeline-content {
    background: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(100% - 40px);
    text-align: left;
}

.timeline-date {
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.timeline h3 {
    font-size: 1.2em;
    margin: 5px 0;
    color: #0072b1;
}

.timeline h4 {
    font-size: 1em;
    margin-bottom: 6px;
    color: #777;
}

.timeline p {
    font-size: 0.9em;
    line-height: 1.4;
}

.bold {
    font-weight: bold;
}

.sub-positions {
    margin-top: 6px;
}

.relevant-coursework {
    margin-top: 6px;
}

@media (max-width:768px){
    .container {
        padding: 0 10px;
    }

    .timeline-item {
        padding-left: 40px;
    }

    .timeline-dot {
        left: 16px;
    }

    .timeline-content{
        width: calc(100% - 40px);
    }
}

/*Skills styles*/
.skills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.skills {
    background: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #0072b1;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-item {
    background: #fff;
    padding: 15px 20px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 1.2em;
    color: #333;
    margin: 3px;
}

.skill-item:hover {
    box-shadow: 0 0 8px rgba(0,114,177,1);
    transform: translate(0%,-9%);
}

@media (max-width: 768px){
    .skills-container{
        padding: 0 10px;
    }

    .skills h2 {
        font-size: 2em;
    }

    .skill-item {
        font-size: 1em;
        padding: 10px 15px;
    }
}

/*Contact Styles*/
.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact {
    background: #f9f9f9;
    padding: 60px 20px;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #0072b1;
    text-align: center;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.contact-left {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.contact-right {
    flex: 1;
    min-width: 300px;
    padding: 30px;

}

.contact-left {
    background: #0072b1;
    color: #fff;
    text-align: center;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.contact-right {
    background-color: #fff;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-left .content-center {
    padding: 20px;
}

.contact-item {
    padding: 20px;
}

.contact-left p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #fff;
}

.contact-info {
    font-size: 16px;
}

.btn-download {
    display: inline-flex;
    align-items: center;
    background: #fff;
    color: #0072b1;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.btn-download:hover {
    background: #0072b1;
    color: #fff;
}

.btn-download i {
    margin-right: 10px;
    font-size: 1.2em;
}

.contact-item i{
    margin-right: 10px;
    color: #0072b1;
}

.contact-item a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #0072b1;
}



@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
    .contact-right, .contact-left {
        border-radius: 15px;
    }
    .contact-right {
        margin-top: 15px;
    }
}
/* Footer */
.footer {
    background: #fff;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 1em;
}

.social-links {
    list-style: none;
    padding: 30;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0072b1;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .contact h2 {
        font-size: 2em;
    }

    .contact-left p {
        font-size: 1em;
    }

    .btn-download {
        font-size: 1em;
    }

    .btn-download i {
        font-size: 1em;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-left,
    .contact-right {
        padding: 10px;
    }

    .contact-info p {
        font-size: 1em;
    }

    .footer p {
        font-size: 0.9em;
    }

    .footer .social-links a {
        font-size: 1em;
    }
}

/*Back to Top Button styles*/
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 50%;
    background-color: #0072b1;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-to-top.visible {
    display: flex;
}

.back-to-top i {
    margin-top: -2px;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 90px;
    }
}