:root {
    /* Primary Colors */
    --primary-color: #81D959;
    --primary-dark: #365925;
    --primary-light: #63A644;
    
    /* Background Colors */
    --bg-dark: #212226;
    --bg-light: #212226;  /* Changed to match dark theme */
    --bg-white: #2a2b30;  /* Darker card background */
    --bg-gray: #1a1b1f;   /* Slightly darker for contrast */
    
    /* Text Colors */
    --text-dark: #D9D9D9;  /* Changed to light text */
    --text-light: #B0B0B0; /* Slightly darker light text for contrast */
    --text-white: #D9D9D9; /* Changed to light text */
    --text-black: #D9D9D9; /* Changed to light text */
    
    /* Accent Colors */
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow-hover: rgba(0, 114, 177, 0.3);
    --border-color: #0072b1;
    
    /* Sizing */
    --border-radius: 9px;
    --border-radius-lg: 15px;
    --border-radius-full: 50%;
    --border-radius-pill: 100px;
    
    /* Transitions */
    --transition-fast: 0.2s;
    --transition-normal: 0.3s;
    --transition-slow: 0.5s;
    
    /* Font Sizes */
    --font-xs: 0.8em;
    --font-sm: 0.9em;
    --font-md: 1em;
    --font-lg: 1.2em;
    --font-xl: 1.5em;
    --font-xxl: 2em;
    --font-xxxl: 2.5em;
    --font-xxxxl: 3em;
    
    /* Spacing */
    --spacing-xs: 3px;
    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    --spacing-xxl: 40px;
    --spacing-xxxl: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    padding-top: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: var(--bg-dark);
    color: var(--text-white);
    box-shadow: 0 4px 8px var(--shadow-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.navbar h1 a {
    color: var(--text-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: var(--spacing-lg);
}

.nav-links li {
    margin-left: var(--spacing-lg);
}

.nav-links li:last-child {
    margin-right: var(--spacing-lg);
}

.nav-links a {
    color: var(--text-dark);
    text-decoration: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-pill);
    transition: background-color var(--transition-normal) ease-in-out, color var(--transition-normal) ease-in-out;
}

.nav-links a:hover {
    background-color: var(--primary-color);
    color: var(--bg-dark);
    font-weight: bold;
    padding: 8px 16px;
}

.navbar-toggler {
    display: none;
    background: none;
    font-size: 24px;
    color: var(--text-dark);
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
        padding: 1px;
        border-radius: var(--border-radius);
        cursor: pointer;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 50%;
        background-color: rgba(33, 34, 38, 0.95);
        position: absolute;
        top: 100%;
        right: 0;
        padding: var(--spacing-md) 0;
        text-align: center;
        box-shadow: 0 4px 8px var(--shadow-color);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: var(--spacing-md) 0;
        margin: var(--spacing-sm) 0;
    }

    .nav-links a {
        text-align: center;
        width: 100%;
        color: var(--text-dark);
    }
}

/* Hero Styling */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

.hero {
    background-image: url(/assets/images/clouds.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: var(--spacing-xxxl) 0;
    min-height: 400px;
    background-color: var(--bg-dark);
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: var(--font-xxxxl);
    margin: 0 0 var(--spacing-lg);
    color: var(--primary-color);
}

.hero-content a {
    display: inline-block;
    margin-top: var(--spacing-lg);
}


.hero-content .description {
    font-size: var(--font-lg);
    margin: 0 0 var(--spacing-xl);
    color: var(--text-dark);
}

.cta-button {
    padding: var(--spacing-md) var(--spacing-lg);
    background: var(--primary-color);
    color: var(--bg-dark);
    text-decoration: none;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color var(--transition-normal) ease;
    box-shadow: 0 4px 8px var(--shadow-color);
    font-weight: bold;
}

.cta-button:hover {
    background: var(--bg-dark);
    color: var(--text-white);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    border-radius: var(--border-radius-full);
    box-shadow: 0 8px 12px var(--text-white);
    width: 300px;
    height: 300px;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        background-image: url(/assets/images/clouds.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .hero-content h1 {
        font-size: var(--font-xxxl);
    }

    .hero-image {
        margin-top: 45px;
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: var(--font-xxl);
    }

    .hero-content .description {
        font-size: var(--font-md);
    }

    .cta-button {
        font-size: var(--font-sm);
    }
}

/* About me Styling */
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

.about {
    background: var(--bg-light);
    padding: var(--spacing-xxxl) var(--spacing-lg);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-text {
    max-width: 800px;
}

.about-text h2 {
    font-size: var(--font-xxxl);
    margin-bottom: var(--spacing-lg);
    color: var(--primary-color);
}

.about-text p {
    font-size: var(--font-lg);
    line-height: 1.5;
    margin: 0;
    color: var(--text-dark);
}

@media (max-width: 768px) {
    .about-text h2 {
        font-size: var(--font-xxl);
    }

    .about-text p {
        font-size: var(--font-md);
    }
}

/* Projects Styles */
.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

.projects {
    background-image: url(/assets/images/clouds.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: var(--spacing-xxxl) var(--spacing-lg);
    text-align: center;
    background-color: var(--bg-dark);
}

.projects h2 {
    font-size: var(--font-xxxl);
    margin-bottom: var(--spacing-xxl);
    color: var(--primary-color);
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    justify-content: center;
}

.project-card {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: transform var(--transition-fast);
    width: 100%;
    max-width: 300px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h3 {
    font-size: var(--font-xl);
    margin: var(--spacing-lg) 0;
    color: var(--bg-dark);
}

.project-card p {
    font-size: var(--font-md);
    padding: 0 var(--spacing-lg);
    line-height: 1.2;
    color: black;
}

.project-link {
    display: block;
    margin: var(--spacing-lg);
    padding: var(--spacing-md) 6px;
    color: var(--bg-dark);
    text-decoration: none;
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-dark);
    transition: background var(--transition-normal) ease-out;
}

.project-link:hover {
    background: var(--primary-light);
    color: var(--bg-dark);
    box-shadow: 0 0 8px var(--primary-color);
    border: none;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px var(--shadow-hover);
    font-weight: bold;
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .projects h2 {
        font-size: var(--font-xxl);
    }

    .projects {
        background-image: url(/assets/images/clouds.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .project-card h3 {
        font-size: var(--font-lg);
    }

    .project-card p {
        font-size: var(--font-sm);
    }
}

/* Experience Styles */
.exp-container,
.education-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

.education {
    background-color: var(--bg-gray);
    padding: var(--spacing-xxxl) var(--spacing-lg);
    text-align: center;
}

.experience {
    background-color: var(--bg-light);
    padding: var(--spacing-xxxl) var(--spacing-lg);
    text-align: center;
}

.experience h2,
.education h2 {
    font-size: var(--font-xxxl);
    margin-bottom: var(--spacing-xl);
    color: var(--primary-color);
}

.timeline {
    position: relative;
    margin-top: var(--spacing-lg);
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 2px;
    background: var(--text-light);
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--border-radius);
    position: relative;
    padding-left: var(--spacing-xl);
}

.timeline-dot {
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    border-radius: var(--border-radius-full);
    position: absolute;
    left: 16px;
    top: 15px;
}

.timeline-content {
    background: var(--bg-white);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: 4px;
    box-shadow: 0 2px 4px var(--shadow-color);
    width: calc(100% - 40px);
    text-align: left;
}

.timeline-date {
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: var(--spacing-sm);
}

.timeline h3 {
    font-size: var(--font-lg);
    margin: var(--spacing-sm) 0;
    color: var(--primary-color);
}

.timeline h4 {
    font-size: var(--font-md);
    margin-bottom: 6px;
    color: var(--primary-light);
}

.timeline p, ul {
    font-size: var(--font-sm);
    color: var(--text-light);
    margin: 12px 0;
}

.timeline ul li {
    margin: 4px 0px;
    font-size: var(--font-md);
}

.bold {
    font-weight: bold;
    color: var(--text-dark);
}

.sub-positions {
    margin-top: 6px;
}

.relevant-coursework {
    margin-top: 6px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 var(--spacing-md);
    }

    .timeline-item {
        padding-left: var(--spacing-xxl);
    }

    .timeline-dot {
        left: 16px;
    }

    .timeline-content {
        width: calc(100% - 40px);
    }
}

/* Skills styles */
.skills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

.skills {
    background-image: url(/assets/images/clouds.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: var(--spacing-xxxl) var(--spacing-lg);
    text-align: center;
    background-color: var(--bg-dark);
}

.skills h2 {
    font-size: var(--font-xxxl);
    margin-bottom: var(--spacing-xl);
    color: var(--primary-color);
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    justify-content: center;
}

.skill-item {
    background: var(--bg-white);
    padding: var(--spacing-lg) var(--spacing-lg);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
    font-size: var(--font-lg);
    color: var(--text-dark);
    margin: var(--spacing-xs);
}

.skill-item:hover {
    background: var(--primary-color);
    color: var(--bg-dark);
    font-weight: bold;
    box-shadow: 0 0 8px var(--primary-color);
    transform: translate(0%, -9%);
}

@media (max-width: 768px) {
    .skills-container {
        padding: 0 var(--spacing-md);
    }

    .skills {
        background-image: url(/assets/images/clouds.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .skills h2 {
        font-size: var(--font-xxl);
    }

    .skill-item {
        font-size: var(--font-md);
        padding: var(--spacing-md) var(--spacing-lg);
    }
}

/* Contact Styles */
.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
}

.contact {
    background-image: url(/assets/images/clouds.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: var(--spacing-xxxl) var(--spacing-lg);
    background-color: var(--bg-dark);
}

.contact h2 {
    font-size: var(--font-xxxl);
    margin-bottom: var(--spacing-xxl);
    color: var(--primary-color);
    text-align: center;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.contact-left {
    flex: 1;
    min-width: 300px;
    padding: var(--spacing-lg);
    box-sizing: border-box;
}

.contact-right {
    flex: 1;
    min-width: 300px;
    padding: var(--spacing-xl);
}

.contact-left {
    background: var(--primary-color);
    color: var(--bg-dark);
    text-align: center;
    border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
    box-shadow: 0 4px 8px var(--shadow-color);
}

.contact-right {
    background-color: var(--bg-white);
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    box-shadow: 0 4px 8px var(--shadow-color);
    text-align: center;
}

.contact-left .content-center {
    padding: var(--spacing-lg);
}

.contact-item {
    padding: var(--spacing-lg);
}

.contact-left p {
    font-size: var(--font-lg);
    margin-bottom: var(--spacing-lg);
    color: var(--bg-dark);
}

.contact-info {
    font-size: 16px;
}

.contact-info p {
    color: var(--bg-dark);
    font-weight: bold;
}

.btn-download {
    display: inline-flex;
    align-items: center;
    background: var(--bg-dark);
    color: var(--primary-color);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--font-lg);
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: background var(--transition-normal) ease;
}

.btn-download:hover {
    background: var(--primary-color);
    color: var(--bg-dark);
    box-shadow: 0 0 8px var(--primary-dark);
}

.btn-download i {
    margin-right: var(--spacing-md);
    font-size: var(--font-lg);
}

.contact-item i {
    margin-right: var(--spacing-md);
    color: var(--primary-color);
}

.contact-item i:hover {
    transition:all 0.3s ease-in-out;
    scale: 1.5;
}

.contact-item a {
    color: var(--text-dark);
    text-decoration: none;
    transition: color var(--transition-normal);
}

.contact-item a:hover {
    color: var(--primary-color);
}



@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact {
        background-image: url(/assets/images/clouds.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .contact-right,
    .contact-left {
        border-radius: var(--border-radius-lg);
    }
    .contact-right {
        margin-top: var(--spacing-lg);
    }
}

/* Footer */
.footer {
    background: var(--bg-dark);
    color: var(--text-dark);
    padding: var(--spacing-lg) 0;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: var(--font-md);
    color: var(--text-dark);
}

.social-links {
    list-style: none;
    padding: 30;
    margin-top: var(--spacing-lg);
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 var(--spacing-md);
}

.social-links a {
    font-size: var(--font-xl);
    text-decoration: none;
    transition: color var(--transition-normal) ease;
    color: var(--text-dark);
}

.social-links a:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .container {
        padding: 0 var(--spacing-md);
    }

    .contact h2 {
        font-size: var(--font-xxl);
    }

    .contact-left p {
        font-size: var(--font-md);
    }

    .btn-download {
        font-size: var(--font-md);
    }

    .btn-download i {
        font-size: var(--font-md);
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-left,
    .contact-right {
        padding: var(--spacing-md);
    }

    .contact-info p {
        font-size: var(--font-md);
    }

    .footer p {
        font-size: var(--font-sm);
    }

    .footer .social-links a {
        font-size: var(--font-md);
    }
}

/* Back to Top Button styles */
.back-to-top {
    position: fixed;
    bottom: var(--spacing-xl);
    right: var(--spacing-lg);
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--border-radius-full);
    background-color: var(--buttons-color);
    color: var(--bg-dark);
    cursor: pointer;
    font-size: 24px;
    opacity: 1;
    transition: opacity var(--transition-normal) ease-in-out, transform var(--transition-normal) ease-in-out;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.back-to-top.visible {
    display: flex;
}

.back-to-top i {
    margin-top: -2px;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 90px;
    }
}